open_quiz_server/quizApp/.vscode/launch.json
open_quiz_server/quizApp/.vscode/tasks.json
open_quiz_server/quizApp/bin/Debug/net7.0/appsettings.Development.json
open_quiz_server/quizApp/bin/Debug/net7.0/Microsoft.AspNetCore.OpenApi.dll
open_quiz_server/quizApp/bin/Debug/net7.0/appsettings.json
open_quiz_server/quizApp/bin/Debug/net7.0/Microsoft.OpenApi.dll
open_quiz_server/quizApp/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
open_quiz_server/quizApp/bin/Debug/net7.0/quizApp.deps.json
open_quiz_server/quizApp/bin/Debug/net7.0/quizApp.dll
open_quiz_server/quizApp/bin/Debug/net7.0/quizApp.exe
open_quiz_server/quizApp/bin/Debug/net7.0/quizApp.pdb
open_quiz_server/quizApp/bin/Debug/net7.0/quizApp.runtimeconfig.json
open_quiz_server/quizApp/bin/Debug/net7.0/Swashbuckle.AspNetCore.Swagger.dll
open_quiz_server/quizApp/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerGen.dll
open_quiz_server/quizApp/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerUI.dll
open_quiz_server/quizApp/obj/Debug/net7.0/apphost.exe
open_quiz_server/quizApp/obj/Debug/net7.0/project.razor.json
open_quiz_server/quizApp/obj/Debug/net7.0/quizApp.AssemblyInfo.cs
open_quiz_server/quizApp/obj/Debug/net7.0/quizApp.AssemblyInfoInputs.cache
open_quiz_server/quizApp/obj/Debug/net7.0/quizApp.assets.cache
open_quiz_server/quizApp/obj/Debug/net7.0/quizApp.csproj.AssemblyReference.cache
open_quiz_server/quizApp/obj/Debug/net7.0/quizApp.csproj.CopyComplete
open_quiz_server/quizApp/obj/Debug/net7.0/quizApp.csproj.CoreCompileInputs.cache
open_quiz_server/quizApp/obj/Debug/net7.0/quizApp.csproj.FileListAbsolute.txt
open_quiz_server/quizApp/obj/Debug/net7.0/quizApp.dll
open_quiz_server/quizApp/obj/Debug/net7.0/quizApp.GeneratedMSBuildEditorConfig.editorconfig
open_quiz_server/quizApp/obj/Debug/net7.0/quizApp.genruntimeconfig.cache
open_quiz_server/quizApp/obj/Debug/net7.0/quizApp.GlobalUsings.g.cs
open_quiz_server/quizApp/obj/Debug/net7.0/quizApp.MvcApplicationPartsAssemblyInfo.cache
open_quiz_server/quizApp/obj/Debug/net7.0/quizApp.MvcApplicationPartsAssemblyInfo.cs
open_quiz_server/quizApp/obj/Debug/net7.0/quizApp.pdb
open_quiz_server/quizApp/obj/Debug/net7.0/staticwebassets.build.json
open_quiz_server/quizApp/obj/Debug/net7.0/ref/quizApp.dll
open_quiz_server/quizApp/obj/Debug/net7.0/refint/quizApp.dll
open_quiz_server/quizApp/obj/Debug/net7.0/staticwebassets/msbuild.build.quizApp.props
open_quiz_server/quizApp/obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.quizApp.props
open_quiz_server/quizApp/obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.quizApp.props
open_quiz_server/quizApp/bin/Debug/net7.0/publish/appsettings.Development.json
open_quiz_server/quizApp/bin/Debug/net7.0/publish/appsettings.json
open_quiz_server/quizApp/bin/Debug/net7.0/publish/Microsoft.AspNetCore.OpenApi.dll
open_quiz_server/quizApp/bin/Debug/net7.0/publish/Microsoft.OpenApi.dll
open_quiz_server/quizApp/bin/Debug/net7.0/publish/MoreLinq.dll
open_quiz_server/quizApp/bin/Debug/net7.0/publish/Newtonsoft.Json.dll
open_quiz_server/quizApp/bin/Debug/net7.0/publish/project.zip
open_quiz_server/quizApp/bin/Debug/net7.0/publish/quizApp.deps.json
open_quiz_server/quizApp/bin/Debug/net7.0/publish/quizApp.dll
open_quiz_server/quizApp/bin/Debug/net7.0/publish/quizApp.exe
open_quiz_server/quizApp/bin/Debug/net7.0/publish/quizApp.pdb
open_quiz_server/quizApp/bin/Debug/net7.0/publish/quizApp.runtimeconfig.json
open_quiz_server/quizApp/bin/Debug/net7.0/publish/RestSharp.dll
open_quiz_server/quizApp/bin/Debug/net7.0/publish/Swashbuckle.AspNetCore.Swagger.dll
open_quiz_server/quizApp/bin/Debug/net7.0/publish/Swashbuckle.AspNetCore.SwaggerGen.dll
open_quiz_server/quizApp/bin/Debug/net7.0/publish/Swashbuckle.AspNetCore.SwaggerUI.dll
open_quiz_server/quizApp/bin/Debug/net7.0/publish/web.config
