<br>

<form>
  
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Enter your name</label>
      <input type="text" class="form-control" id="exampleInputPassword1">
    </div>
    <!-- <div class="mb-3">
    <label for="contactMethod">Category</label>
    
    <select 
        name="contactMethod" 
        id="contactMethod" 
        class="form-control"
        [(ngModel)]="contact.contactMethod">
        <option *ngFor="let method of contactMethods" [value]="method.id">{{ method.label }}</option>
    </select>
    </div> -->
    <div class="mb-3">
        <label for="Category">Category</label>
        
        <select 
            name="selectedCategtory" 
            id="selectedCategtory" 
            class="form-control"
            [(ngModel)]="selectedCategtory">
            <option *ngFor="let catList of categoriesList" [ngValue]="catList">{{ catList.name }}</option>
        </select>
        </div>
    <button type="submit" class="btn btn-primary" (click)="showCategoryID()">Submit</button>
  </form>
