<br>

<div style="text-align: center;">
    <h1>Welcome to OPEN TRIVIA</h1>
</div>

<br>

<form>
  
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Enter your name</label>
      <input type="text" class="form-control" id="exampleInputPassword1">
    </div>
    <!-- <div class="mb-3">
    <label for="contactMethod">Category</label>
    
    <select 
        name="contactMethod" 
        id="contactMethod" 
        class="form-control"
        [(ngModel)]="contact.contactMethod">
        <option *ngFor="let method of contactMethods" [value]="method.id">{{ method.label }}</option>
    </select>
    </div> -->
    <div class="mb-3">
        <label for="Category">Category</label>
        
        <select 
            name="selectedCategtory" 
            id="selectedCategtory" 
            class="form-control"
            [(ngModel)]="selectedCategtory">
            <option *ngFor="let catList of categoriesList" [ngValue]="catList">{{ catList.name }}</option>
        </select>
        </div>
    <button type="submit" class="btn btn-primary" (click)="getSessionQuestions()">Start quizz session</button>
  </form>

  <br>
  <div *ngFor='let question of quizQuestions; let i = index;'>
    <div class="mx-0 mx-sm-auto">
        <div class="card">
        <div class="card-body">
            <div class="text-center">
            <i class="far fa-file-alt fa-4x mb-3 text-primary"></i>
            <p>
                <strong>QUESTION # {{i+1}}</strong>
            </p>
            <p>
               {{question.question}}
                <!-- <strong>Give us your feedback.</strong> -->
            </p>
            </div>
    
            <hr />
    
            <form class="px-4" action="">
            <p class="text-center"><strong>Your answer:</strong></p>
    
            <div *ngFor='let option of question.answers; let ai = index;' class="form-check mb-2">
                <input class="form-check-input" (click)="getSelectedQuestion(question.id, ai)"  type="radio" name="exampleForm" id="radio2Example1" />
                <label class="form-check-label" for="radio2Example1">
                {{option}}
                </label>
            </div>
            </form>
        </div>
        <div class="card-footer text-center">
            <h1 *ngIf="question.isCorrect">Correct</h1>
            <button type="button" class="btn btn-primary" (click)="sendAnswerToServer(question.id)">Submit</button>
        </div>
        </div>
    </div>
    <br>
</div>
